
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://esi.dz">
              PFE 2019/2020
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright ml-auto">
        &copy; <a href="https://esi.dz">ESI.dz</a> - PFE 2020
      </div>				
    </div>
  </footer>
