{% extends "layouts/base.html.j2" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="page-inner">
        <h3 class="page-title">Profile</h3>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <div class="card card-profile">
                    <div class="card-header" style="background-image: url('/static/assets/img/blogpost.jpg')">
                        <div class="profile-picture">
                            <div class="avatar avatar-xl">
                                <img src="/static/assets/img/profile.png" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="user-profile text-center">
                            <div class="name">{{ request.user.last_name |add:" " |add:request.user.first_name}}</div>
                            {% if request.user.is_staff %}
                                <div class="job">Doctor</div>
                            {% else %}
                                <div class="job">Visitor</div>
                            {% endif %}
                            <div class="form-group">
                                    <label class="control-label">
                                        Email
                                    </label> 
                                    <p class="form-control-static">{{ request.user.email }}</p> 
                            </div>
                            <br>
                            <br>
                            {% if request.user.is_staff %}
                            <div class="view-profile">
                                <a href="#" class="btn btn-success btn-block">Compte Docteur Verifie</a>
                            </div>
                            {% else %}
                            <div class="view-profile">
                                <a href="#" class="btn btn-danger btn-block">Compte Non Verifie</a>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row user-stats text-center">
                            <div class="col">
                                <div class="number">Last Login</div>
                                <div class="title">{{ request.user.last_login }}</div>
                            </div>
                            <div class="col">
                                <div class="number">Date Joined</div>
                                <div class="title">{{ request.user.last_login }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
