{% extends "layouts/base.html" %} {% block title %} Prediction {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title"></h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href={% url 'home' %}>
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);">Eye Fundus Image</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);">Labelize</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
                      <div class="card card-post card-round">
                    <img class="card-img-top" src="/static/assets/img/17_left.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post">
                                <button class="btn btn-danger btn-sm btn-rounded">Non Labelized</button>
                                <br>
                                <br>
                                <p class="date">Uploaded: 06 June 2020</p>
                            </div>
                        </div>
                        <div class="separator-solid"></div>
                        <a href="#" class="btn btn-primary btn-rounded btn-sm">Labelize</a>
                    </div>
                </div>

    </div>
    <div class="col-md-4">
                      <div class="card card-post card-round">
                    <img class="card-img-top" src="/static/assets/img/17_right.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post">
                                <button class="btn btn-danger btn-sm btn-rounded">Non Labelized</button>
                                <br>
                                <br>
                                <p class="date">Uploaded: 06 June 2020</p>
                            </div>
                        </div>
                        <div class="separator-solid"></div>
                        <a href="#" class="btn btn-primary btn-rounded btn-sm">Labelize</a>
                    </div>
                </div>

    </div>
    <div class="col-md-4">
                      <div class="card card-post card-round">
                    <img class="card-img-top" src="/static/assets/img/16_right.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post">
                                <button class="btn btn-danger btn-sm btn-rounded">Non Labelized</button>
                                <br>
                                <br>
                                <p class="date">Uploaded: 06 June 2020</p>
                            </div>
                        </div>
                        <div class="separator-solid"></div>
                        <a href="#" class="btn btn-primary btn-rounded btn-sm">Labelize</a>
                    </div>
                </div>

    </div>
    <div class="col-md-4">
                      <div class="card card-post card-round">
                    <img class="card-img-top" src="/static/assets/img/10_right.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post">
                                <button class="btn btn-danger btn-sm btn-rounded">Non Labelized</button>
                                <br>
                                <br>
                                <p class="date">Uploaded: 06 June 2020</p>
                            </div>
                        </div>
                        <div class="separator-solid"></div>
                        <a href="#" class="btn btn-primary btn-rounded btn-sm">Labelize</a>
                    </div>
                </div>

    </div>
    <div class="col-md-4">
                      <div class="card card-post card-round">
                    <img class="card-img-top" src="/static/assets/img/16_right.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post">
                                <button class="btn btn-danger btn-sm btn-rounded">Non Labelized</button>
                                <br>
                                <br>
                                <p class="date">Uploaded: 06 June 2020</p>
                            </div>
                        </div>
                        <div class="separator-solid"></div>
                        <a href="#" class="btn btn-primary btn-rounded btn-sm">Labelize</a>
                    </div>
                </div>

    </div>
    <div class="col-md-4">
                      <div class="card card-post card-round">
                    <img class="card-img-top" src="/static/assets/img/16_left.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post">
                                <button class="btn btn-danger btn-sm btn-rounded">Non Labelized</button>
                                <br>
                                <br>
                                <p class="date">Uploaded: 06 June 2020</p>
                            </div>
                        </div>
                        <div class="separator-solid"></div>
                        <a href="#" class="btn btn-primary btn-rounded btn-sm">Labelize</a>
                    </div>
                </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}
