{% extends "layouts/base.html.j2" %} {% block title %} Prediction {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title"></h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href={% url 'home' %}>
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);">Eye Fundus Image</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);">Labelize</a>
      </li>
    </ul>
  </div>
  <div class="row">
  {% for image in images %}
    <div class="col-md-4">
                      <div class="card card-post card-round">
                    <img class="card-img-top img-responsive" src="{{ MEDIA_URL }}{{image.image}}" alt="Card image cap" width=300 height=250>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post">
                                {% if image.real_label %}
                                <button class="btn btn-success btn-sm btn-rounded">Labelized</button>
                                {% else %}
                                <button class="btn btn-danger btn-sm btn-rounded">Non Labelized</button>
                                {% endif %}
                                <br>
                                <br>
                                <p class="date">Uploaded: {{image.uploaded_at}}</p>
                                <p class="date">Author: {{image.author}}</p>

                            </div>
                        </div>
                        <div class="separator-solid"></div>
                        <a href="{% url 'result_name' image.name %}" class="btn btn-primary btn-rounded btn-sm">Labelize</a>
                    </div>
                </div>
    </div>
  {% endfor %}
  </div>
  <div class="row">
  <nav aria-label="Page navigation">
      {% if images.has_other_pages %}
  <ul class="pagination justify-content-end">
    {% if images.has_previous %}
      <li class="page-item"><a class="page-link" href="{% url 'labelize' images.previous_page_number %}">Previous</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for i in images.paginator.page_range %}
      {% if images.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item" ><a class="page-link" href="{% url 'labelize' i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if images.has_next %}
      <li class="page-item"><a class="page-link" href="{% url 'labelize' images.next_page_number %}">Next</a></li>
    {% else %}
      <li class="disbaled page-item"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
{% endif %}
</nav>
  </div>
</div>

{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}
